<div id="<%= dom_id item %>">
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= item.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Price: $<%= item.price %></h6>
    <h6 class="card-subtitle mb-2 text-muted">Callories: <%= item.callories %></h6>
  </div>
  </div>  
</div>
